# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env / secrets
.env
.env.*
.dev.vars*

# cloudflare
.wrangler/

# os / editors
.DS_Store
.idea/
.vscode/

# misc
*.zip